{% extends "Eshop/base.html" %}
{% load crispy_forms_tags %}
{% block content %}



    <div>
        <h1>createProduct</h1>
        <form method = "post">
        {% csrf_token %}
        {{ form|crispy}}

            <button type="submit">
            submit
            </button>
        </form>
    </div>


    <h1>Order</h1>
    <table>
        <th>Item</th>
        <th>Price</th>
        <th>Qty</th>
        {% for item in order.cart.cartitem_set.all %}
        <tr>
            <td> {{ item.product }} </td>
            <td> {{ item.product.prijs }} </td>
            <td> {{ item.quantity }} </td>
        </tr>
        {% endfor %}
        </table>
    <div>Total   {{ cart.total }} </div>

    <div>Total Products  {{ count }} </div>

{% endblock content %}
